.dv-switcher
{
    text-align: center;
    margin-bottom: 32px;
}

.dv-switcher a
{
    display: inline-block;
    background: #eee;
    padding: 6px;
    border: 1px solid black;
    color: black;
}

.dv-switcher a:link, .dv-switcher a:hover, .dv-switcher a:visited
{
    color: black;
}

.dv-switcher a:hover
{
    background: #f7f7f7;
}

.dv-switcher a:first-child
{
    border-right: 0;
    border-radius: 6px 0px 0px 6px;
}

.dv-switcher a:last-child
{
    border-radius: 0px 6px 6px 0px;
}

.dv-switcher a.current
{
    background: #ddd;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1) inset;
}

/* base editor stuff */
.dv-sourcecode
{
    font-family: monospace;
    width: 100%;
    min-height: 240px;
    margin-bottom: 32px;
}

.dv-visualframe
{
    border: 1px solid black;
    background: white;
    padding: 4px;
    min-height: 240px;
    margin-bottom: 16px;
}

.dv-visualframe span
{
    white-space: pre-wrap;
}

.dv-panel
{
    background: #f7f7f7;
    padding: 4px;
}

.dv-panel-group
{
    background: #eee;
    display: inline-block;
    padding: 3px;
    border-radius: 3px;
}

.dv-panel-button
{
    background: #d7d7d7;
    display: inline-block;
    padding: 2px 8px;
    border-radius: 3px;
    margin: 2px;
    min-width: 24px;
    box-sizing: border-box;
    text-align: center;
}

.dv-panel-button:link, .dv-panel-button:visited, .dv-panel-button:link:hover
{
    color: black;
    text-decoration: none;
}

.dv-panel-button:hover
{
    background: #ccc;
}

.dv-panel-button-active
{
    background: #aaa;
}

.dv-panel-button-active:hover
{
    background: #999;
}

.dv-panel-button:active
{
    background: #888;
}